@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie App</h1>    
</div>

<div class="row">
    <div class="col-md-4 Movies">
        <h2>Movies</h2>
        <p>See a List of Movies.</p>
        <p><a class="btn btn-default" href="~/Movies/Index">Movies &raquo;</a></p>
    </div>

    <div class="col-md-4 Directors">
        <h2>Directors</h2>
        <p>See a List of Directors</p>
        <p><a class="btn btn-default" href="~/Directors/Index">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4 Genres">
        <h2>Genres</h2>
        <p>See a List of Genres.</p>
        <p><a class="btn btn-default" href="~/Genres/Index">Learn more &raquo;</a></p>
    </div>
</div>